.App {
  text-align: center;
  width: 100%;
}

h2 {
  width: 100%;
}

main {
  padding: 10px;
  background-color:lightgray;
}

.nv-x text{
		  font-size: 8px;
          fill: #0277bd;
}
text {
  font-size: 12px;
}

.mdl-layout__drawer.is-visible {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    text-align: left;
}

@media screen and (min-width: 1025px) {
    .mdl-layout--fixed-drawer>.mdl-layout__drawer {
        -webkit-transform:translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        text-align: left;
    }
}

/* Dialog */
.dialog {
    width: 90vw;
    max-width: 20rem;

    padding: 1em;

    background: #fff;
    color: #656e77;
    box-shadow: 0 0 5px rgba(101, 110, 119, .2);
    border: 0;
    text-align: center;
}

.dialog[open] {
    animation: .2s linear slidein;
}

.dialog::backdrop {
    background: rgba(224, 228, 232, .9);
    animation: .4s ease fade;
}

.dialog__title {
    color: #50AAFF;
}

.dialog__txt {}

.dialog__btn {
    display: block;
    width: 100%;
    margin-top: 2rem;
}


@keyframes slidein {
    from {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transfrom: translate3d(0, 0, 0);
    }
}

@keyframes fade {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}


.notecontainer {
  /*display: block;
  position: fixed;
  z-index: 4;*/
}

.notealert {
    padding: 20px;
    background-color: #a02319;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
}

g.nvd3.nv-wrap.nv-sparkline path {
  stroke:red;
  stroke-width: 2px;
}

.notewarning {
    padding: 20px;
    background-color: #f0ad4e;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.mdl-textfield {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width:100%;
    margin: 0;
    padding: 20px 0;
}


svg {
            display: block;
        }

        svg.sparkline {
            width: 500px;
            height: 70px;
            font-size: 14px;
            margin-top: -6px;
        }

        .line {
          fill: none;
          stroke-width: 3px;
          clip-path: url(#clip);
          stroke: #ef6c00;
        }
        .line:nth-of-type(2) {
          stroke: blue;
        }
        .axis text {
          font: 11px sans-serif;
        }

        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .grid-background {
          fill: #ddd;
        }

        .grid line,
        .grid path {
          fill: none;
          stroke: #fff;
          shape-rendering: crispEdges;
        }

        .grid .minor.tick line {
          stroke-opacity: .5;
        }

        .brush .extent {
          stroke: #0277bd;
          stroke-width:3px;
          fill: #0277bd;
          fill-opacity: .225;
          shape-rendering: crispEdges;
        }
        .axis path,
        .axis line {
          fill: none;
          stroke-width: 2px;
          stroke: #0277bd;
          shape-rendering: crispEdges;
        }

        .brush .extent {
          stroke-width: 2px;
          stroke: #0277bd;
          fill-opacity: .125;
          shape-rendering: crispEdges;
        }

        p {
          color: white;
          margin: 50px;
        }

        a {
          color: #4FDEF2;
        }

        .axis {
          fill: gray;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }

        .axis .halo {
          stroke: gray;
          stroke-width: 4px;
          stroke-linecap: round;
        }



        .slider .handle path {
          stroke: white;
          stroke-width: 3px;
          stroke-linecap: round;
          pointer-events: none;
        }

        .slider .handle text {
          fill: white;
          text-align: center;
          font-size: 18px;
        }
        #chart {
         font-family: "Helvetica Neue", Helvetica, sans-serif;
         font-size: 14px;
        text-align: center;
        }
        #chart path {
         fill: none;
        }
        /* layers */
        #chart .layer-0 path {
         fill: steelblue;
        }
        #chart .layer-1 path {
         fill: white !important;
         opacity: 0.3;
         stroke-width: 2px;
         stroke: #999;
        }
        /* Outer circle, tick-circles and spokes */
        #chart circle.outer {
         stroke: #aaa;
         stroke-dasharray: 4, 4;
        }
        #chart .tick-circles circle {
         stroke: #ddd;
         stroke-dasharray: 2, 2;
        }
        #chart .spokes line {
         stroke: #666;
         stroke-width: 0.2;
        }
        /* Axis */
        #chart .axis text {
         font-size: 11px;
        }
        #chart .axis path {
         stroke: #999;
         shape-rendering: crispEdges;
        }
        #chart .axis line {
         stroke: #999;
         shape-rendering: crispEdges;
        }
        /* Labels */
        #chart .labels text {
         fill: #333;
         font-size: 10px;
         font-weight: 500;
        }

        div.tooltip {
            position: absolute;
            text-align: center;
            width: 60px;
            height: 28px;
            padding: 2px;
            font: 12px sans-serif;
            background: lightsteelblue;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
        }
/*
* {box-sizing: border-box;}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.three {
  grid-row: 2 / 5;
  grid-column: 1;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}*/
* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}

#chart div {
  display: inline-block;
  background: #4285F4;
  width: 20px;
  margin-right: 3px;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: -35px;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  /*background-color: #ccc;*/
  border-radius: 15px;
}
.visitors .sparkline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.readingLabel {
  margin-bottom: 0;
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    color: #0277bd;
    top: 17%;
    position: relative;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    vertical-align: middle;
    text-align:center
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.nv-currentValue {
  color:red;
}

ol.progtrckr {
  list-style-type: none;
  padding: 0;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #CCCCCC;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #CCCCCC;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}


/**
* Rangeslider
*/
.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
  -ms-touch-action: none;
  touch-action: none;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);*/
}
.rangeslider .rangeslider__handle:hover .rangeslider__tooltip {
  opacity: 1;
}
.rangeslider .rangeslider__tooltip {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 14px;
  transition: all 100ms ease-in;
  border-radius: 4px;
  display: inline-block;
  color: white;
  opacity: 0;
}
.rangeslider .rangeslider__tooltip span {
  margin-top: 12px;
  display: inline-block;
  line-height: 100%;
}
.rangeslider .rangeslider__tooltip:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
/**
* Rangeslider - Horizontal slider
*/
.rangeslider-horizontal {
  height: 12px;
  border-radius: 10px;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #81d4fa;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 30px;
  height: 30px;
  top: -10px;
  border-radius: 15px;
}
.rangeslider-horizontal .rangeslider__handle:after {
  content: ' ';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background-color: #dadada;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
}
.rangeslider-horizontal .rangeslider__tooltip {
  top: -55px;
}
.rangeslider-horizontal .rangeslider__tooltip:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  left: 12px;
  bottom: -8px;
}
/**
* Rangeslider - Vertical slider
*/
.rangeslider-vertical {
  margin: 20px auto;
  height: 150px;
  max-width: 10px;
  background-color: transparent;
}
.rangeslider-vertical .rangeslider__fill,
.rangeslider-vertical .rangeslider__handle {
  position: absolute;
}
.rangeslider-vertical .rangeslider__fill {
  width: 100%;
  background-color: #7CB342;
  box-shadow: none;
  bottom: 0;
}
.rangeslider-vertical .rangeslider__handle {
  width: 30px;
  height: 10px;
  left: -10px;
  box-shadow: none;
}
.rangeslider-vertical .rangeslider__tooltip {
  left: -55px;
  top: -15px;
}
.rangeslider-vertical .rangeslider__tooltip:after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgba(0, 0, 0, 0.8);
  left: 100%;
  top: 12px;
}
/**
* Rangeslider - Reverse
*/
.rangeslider-reverse.rangeslider-horizontal .rangeslider__fill {
  right: 0;
}
.rangeslider-reverse.rangeslider-vertical .rangeslider__fill {
  top: 0;
  bottom: inherit;
}
/**
* Rangeslider - Labels
*/
.rangeslider-vertical .rangeslider__label-list {
  position: relative;
  list-style-type: none;
  margin: 0 0 0 24px;
  padding: 0;
  text-align: left;
  width: 250px;
}
.rangeslider-vertical .rangeslider__label-list .rangeslider__label {
  position: absolute;
}
.rangeslider-vertical .rangeslider__label-list .rangeslider__label::before {
  content: '';
  width: 10px;
  height: 2px;
  background: black;
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.rangeslider__label-list .rangeslider__label {
  position: absolute;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  top: 10px;
}

.currentvaluediv {
  height: 100px;
  background-color: red;
  margin: 10px;
}

.bulletArea {
  padding: 5px;
}

.bulletArea svg {
  height: 55px;
}

.barchart {
  padding: 5px;
}

.barchart svg {
  height: 55px;
}

.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
