.App {
  text-align: center;
  width: 100%;
}

h2 {
  width: 100%;
}

main {
  padding: 10px;
  background-color:lightgray;
}

.nv-x text{
		  font-size: 8px;
          fill: #0277bd;
}
#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 800px;
  height: 800px;
  background-color: #fff;
}
svg {
            display: block;
        }

        svg.sparkline {
            width: 500px;
            height: 70px;
            font-size: 14px;
            margin-top: -6px;
        }

        .line {
          fill: none;
          stroke-width: 3px;
          clip-path: url(#clip);
          stroke: #ef6c00;
        }
        .line:nth-of-type(2) {
          stroke: blue;
        }
        .axis text {
          font: 11px sans-serif;
        }

        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .grid-background {
          fill: #ddd;
        }

        .grid line,
        .grid path {
          fill: none;
          stroke: #fff;
          shape-rendering: crispEdges;
        }

        .grid .minor.tick line {
          stroke-opacity: .5;
        }

        .brush .extent {
          stroke: #0277bd;
          stroke-width:3px;
          fill: #0277bd;
          fill-opacity: .225;
          shape-rendering: crispEdges;
        }
        .axis path,
        .axis line {
          fill: none;
          stroke-width: 2px;
          stroke: #0277bd;
          shape-rendering: crispEdges;
        }

        .brush .extent {
          stroke-width: 2px;
          stroke: #0277bd;
          fill-opacity: .125;
          shape-rendering: crispEdges;
        }

        p {
          color: white;
          margin: 50px;
        }

        a {
          color: #4FDEF2;
        }

        .axis {
          fill: gray;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }

        .axis .halo {
          stroke: gray;
          stroke-width: 4px;
          stroke-linecap: round;
        }



        .slider .handle path {
          stroke: white;
          stroke-width: 3px;
          stroke-linecap: round;
          pointer-events: none;
        }

        .slider .handle text {
          fill: white;
          text-align: center;
          font-size: 18px;
        }
        #chart {
         font-family: "Helvetica Neue", Helvetica, sans-serif;
         font-size: 14px;
        text-align: center;
        }
        #chart path {
         fill: none;
        }
        /* layers */
        #chart .layer-0 path {
         fill: steelblue;
        }
        #chart .layer-1 path {
         fill: white !important;
         opacity: 0.3;
         stroke-width: 2px;
         stroke: #999;
        }
        /* Outer circle, tick-circles and spokes */
        #chart circle.outer {
         stroke: #aaa;
         stroke-dasharray: 4, 4;
        }
        #chart .tick-circles circle {
         stroke: #ddd;
         stroke-dasharray: 2, 2;
        }
        #chart .spokes line {
         stroke: #666;
         stroke-width: 0.2;
        }
        /* Axis */
        #chart .axis text {
         font-size: 11px;
        }
        #chart .axis path {
         stroke: #999;
         shape-rendering: crispEdges;
        }
        #chart .axis line {
         stroke: #999;
         shape-rendering: crispEdges;
        }
        /* Labels */
        #chart .labels text {
         fill: #333;
         font-size: 10px;
         font-weight: 500;
        }

        div.tooltip {
            position: absolute;
            text-align: center;
            width: 60px;
            height: 28px;
            padding: 2px;
            font: 12px sans-serif;
            background: lightsteelblue;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
        }
/*
* {box-sizing: border-box;}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.three {
  grid-row: 2 / 5;
  grid-column: 1;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}*/
* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}

#chart div {
  display: inline-block;
  background: #4285F4;
  width: 20px;
  margin-right: 3px;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: -35px;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  /*background-color: #ccc;*/
  border-radius: 15px;
}
.visitors .sparkline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.readingLabel {
  margin-bottom: 0;
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    color: #0277bd;
    top: 17%;
    position: relative;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    vertical-align: middle;
    text-align:center
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.nv-currentValue {
  color:red;
}
